@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Festa de Ano Novo</title>
</head>
<body>
    <div class="text-center m-2">
        <h3>Vamos ter uma festa emocionante!</h3>
        <h4>E VOCÊ está convidado!</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">Confirmar Presença</a>
    </div>
</body>
</html>