@model IEnumerable<ABM_ConviteFestas.Models.ConvidadoResposta>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Confirmados</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2>Lista de Confirmados</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Nome</th><th>E-mail</th><th>Telefone</th></tr>
            </thead>
            <tbody>
                @foreach (ABM_ConviteFestas.Models.ConvidadoResposta r in Model!) {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Email</td>
                        <td>@r.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>